h1{  
     color:blue;
     background-color:yellow ;
     height:35px;
     text-align:left;
}
h2{
     color:blanchedalmond;
     background-color: black;
     text-align: left;
     
}
h4{
    color:blue;
    background-color: yellow; 
    border-color: black;
    height:20px;
    width:100x;
}
body{
     background-color:pink;
     align-items: center;



}
button{
     background-color:white;
     color:black;
     align-items:center;
}
div{
     height:260px;
     width:150px;
     padding:none;
     border:none;
}